@mixin tablet-screen() {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile-screen() {
    @media screen and (max-width: 860px) {
        @content;
    }
}

.text-green {
    color: #87d068;
}
#section-home {
    margin: 0 0 100px;

    @include mobile-screen() {
        margin: 0 0 60px;
    }
    
    .form-wrapper {
        margin-bottom: 60px;
    }
    .button-container {
        text-align: center;
    }
    .line-compare-wrapper {
        margin-bottom: 60px;
        h4 {
            margin-top: 16px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .ant-progress-line {
        width: calc(100% - 25px);
    }
}

body.dark .ant-table-thead>tr>th {
    background-color: #393E46;
    color: #eeeeee;
}