@mixin tablet-screen() {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile-screen() {
    @media screen and (max-width: 860px) {
        @content;
    }
}

#header {
    width: 100%;
    padding: 20px 0;
    .container {
        .nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav-logo {
                img {
                    width: 80px;
                    height: 100%;
                }
            }
            .nav-brand {
                font-weight: 800;
                font-size: 32px;
                line-height: 1;
                @include mobile-screen() {
                    font-size: 24px;
                }
            }
        }
    }
}