* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark * {
  color: #eeeeee;
  background-color: #222831;
}
.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 16px;
  margin: 0 auto;
}